<%= form_for(@property, html: {class:"form-group row"}) do |f| %>
  <% if @property.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@property.errors.count, "error") %> prohibited this property from being saved:</h2>

      <ul>
      <% @property.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
   <div class="form-group">
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name, class:"form-control", style: "width: 40%" %>
  </div>
  <div class="field">
    <%= f.label :category %><br>
    <%= f.text_field :category, class:"form-control", style: "width: 40%" %>
  </div>
  <div class="field">
    <%= f.label :price %><br>
    <%= f.text_field :price, class:"form-control", style: "width: 40%" %>
  </div>
  <div class="field">
    <%= f.label :address %><br>
    <%= f.text_field :address, class:"form-control", style: "width: 40%" %>
  </div>
  <div class="field">
    <%= f.label :city %><br>
    <%= f.text_field :city, class:"form-control", style: "width: 40%" %>
  </div>
  <div class="field">
    <%= f.label :state %><br>
    <%= f.text_field :state, class:"form-control", style: "width: 40%" %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description, class:"form-control", style: "width: 40%" %>
  </div>
    <%= f.file_field :image, class:"field" %><br>
  <div class="actions">
    <%= f.submit %>
  </div>
  
<% end %>
</div>
