<h2>Log in</h2>

<section id="aa-signin">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="aa-signin-area">
            <div class="aa-signin-form">
              <div class="aa-signin-form-title">
                <a class="aa-property-home" href="index.html">Property Home</a>
                <h4>Sign in to your account</h4>
              </div>
              <%= form_for(resource, as: resource_name, url: session_path(resource_name), class: "contactform") do |f| %>
                <%= devise_error_messages! %>                                                 
                <div class="aa-single-field">
                  <%= f.label :email %><br />
                  <%= f.email_field :email, autofocus: true %>
                </div>
                <div class="aa-single-field">
                  <%= f.label :password %><br />
                  <%= f.password_field :password, autocomplete: "off" %> 
                </div>
                <div class="aa-single-field">
                <%# if devise_mapping.rememberable? -%>
                <div class="field">
                  <%= f.check_box :remember_me %>
                  <%= f.label :remember_me %>
                </div>                                                        
                </div> 
                <div class="aa-single-submit">
                  <%= f.submit "Log in" %>  
                  <p>Don't Have A Account Yet? <%= link_to "Sign up", new_user_registration_path %></p>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>  